/**
 * Style des pannels
 */
 .base-infos-panel, 
 .search-panel, 
 .info-panel, 
 .map-panel {
    position: fixed;
    padding: 15px;
    border-radius: 8px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.95);
    font-family: Arial, sans-serif;
 }

 .base-infos-panel {
    top: 20px;
    left: 20px;
    max-width: 500px;
    
}

.search-panel {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 300px;
}

.searchInput {
    width: 80%;
    padding: 5px;
    margin-bottom: 5px;
}

.search,
.reset {
    padding: 5px;
    background-color: #3b635c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer
}

.info-panel {
    display: none;
    bottom: 20px;
    left: 20px;
    max-width: 500px;

}

.map-panel {
    bottom: 60px;
    right: 20px;
}

.bold {
    font-weight: bolder;
}

.leaflet-control.legend {
    background: rgba(255, 255, 255, 0.8);
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    color: #333;
    max-width: 150px;
}

.leaflet-control.legend img.imgLegendeMap {
    width: 12px;
    height: 20px;
    vertical-align: middle;
    margin-right: 6px;
}