{
  "openapi": "3.0.1",
  "info": {
    "title": "DonneesPubliquesClimatologie",
    "contact": {
      "name": "Support API Données Publiques",
      "url": "https://donneespubliques.meteofrance.fr/?fond=produit&id_produit=305&id_rubrique=50",
      "email": "vd@meteo.fr"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://public-api.meteofrance.fr/public/DPClim/v1"
    },
    {
      "url": "http://public-api.meteofrance.fr:8280/public/DPClim/v1"
    }
  ],
  "security": [
    {
      "default": []
    }
  ],
  "tags": [
    {
      "name": "Stations",
      "description": "Listes de stations disponibles et informations par station.\n"
    },
    {
      "name": "Commandes",
      "description": "Commande des données climatologiques sur tout l'historique, par un mécanisme asynchrone.\n"
    },
    {
      "name": "Téléchargement",
      "description": "Téléchargement de la commande des données climatologiques (service asynchrone)"
    }
  ],
  "paths": {
    "/liste-stations/infrahoraire-6m": {
      "get": {
        "tags": [
          "Stations"
        ],
        "summary": "récupérer la liste des stations climatologiques d'un département envoyant les mesures à la fréquence 6 minutes",
        "description": "renvoie la liste des stations du département au format JSON",
        "parameters": [
          {
            "name": "id-departement",
            "in": "query",
            "description": "identifiant du département",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                36,
                37,
                38,
                39,
                40,
                41,
                42,
                43,
                44,
                45,
                46,
                47,
                48,
                49,
                50,
                51,
                52,
                53,
                54,
                55,
                56,
                57,
                58,
                59,
                60,
                61,
                62,
                63,
                64,
                65,
                66,
                67,
                68,
                69,
                70,
                71,
                72,
                73,
                74,
                75,
                76,
                77,
                78,
                79,
                80,
                81,
                82,
                83,
                84,
                85,
                86,
                87,
                88,
                89,
                90,
                91,
                92,
                93,
                94,
                95,
                971,
                972,
                973,
                974,
                975,
                984,
                985,
                986,
                987,
                988
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "la liste est renvoyée"
          },
          "401": {
            "description": "Invalid credential"
          },
          "404": {
            "description": "paramètre id-departement inexistant"
          },
          "500": {
            "description": "problème du serveur d'application dans la construction de la réponse"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/liste-stations/horaire": {
      "get": {
        "tags": [
          "Stations"
        ],
        "summary": "récupérer la liste des stations climatologiques d'un département envoyant les mesures à la fréquence 1 heure",
        "description": "renvoie la liste des stations du département au format JSON",
        "parameters": [
          {
            "name": "id-departement",
            "in": "query",
            "description": "identifiant du département",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                36,
                37,
                38,
                39,
                40,
                41,
                42,
                43,
                44,
                45,
                46,
                47,
                48,
                49,
                50,
                51,
                52,
                53,
                54,
                55,
                56,
                57,
                58,
                59,
                60,
                61,
                62,
                63,
                64,
                65,
                66,
                67,
                68,
                69,
                70,
                71,
                72,
                73,
                74,
                75,
                76,
                77,
                78,
                79,
                80,
                81,
                82,
                83,
                84,
                85,
                86,
                87,
                88,
                89,
                90,
                91,
                92,
                93,
                94,
                95,
                971,
                972,
                973,
                974,
                975,
                984,
                985,
                986,
                987,
                988
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "la liste est renvoyée"
          },
          "401": {
            "description": "Invalid credential"
          },
          "404": {
            "description": "paramètre id-departement inexistant"
          },
          "500": {
            "description": "problème du serveur d'application dans la construction de la réponse"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/liste-stations/quotidienne": {
      "get": {
        "tags": [
          "Stations"
        ],
        "summary": "récupérer la liste des stations climatologiques d'un département envoyant les mesures à la fréquence 1 journée",
        "description": "renvoie la liste des stations du département au format JSON",
        "parameters": [
          {
            "name": "id-departement",
            "in": "query",
            "description": "identifiant du département",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                36,
                37,
                38,
                39,
                40,
                41,
                42,
                43,
                44,
                45,
                46,
                47,
                48,
                49,
                50,
                51,
                52,
                53,
                54,
                55,
                56,
                57,
                58,
                59,
                60,
                61,
                62,
                63,
                64,
                65,
                66,
                67,
                68,
                69,
                70,
                71,
                72,
                73,
                74,
                75,
                76,
                77,
                78,
                79,
                80,
                81,
                82,
                83,
                84,
                85,
                86,
                87,
                88,
                89,
                90,
                91,
                92,
                93,
                94,
                95,
                971,
                972,
                973,
                974,
                975,
                984,
                985,
                986,
                987,
                988
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "la liste est renvoyée"
          },
          "401": {
            "description": "Invalid credential"
          },
          "404": {
            "description": "paramètre id-departement inexistant"
          },
          "500": {
            "description": "problème du serveur d'application dans la construction de la réponse"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/information-station": {
      "get": {
        "tags": [
          "Stations"
        ],
        "summary": "récupérer les informations d'historique de la station",
        "description": "renvoie l'historique de la station",
        "parameters": [
          {
            "name": "id-station",
            "in": "query",
            "description": "identifiant de la station (nomenclature : 8 chiffres selon DDCCCNNN = insee de la commune (DD département, CCC n° de la commune dans le département et NNN n° de la station dans la commune)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "requête acceptée"
          },
          "400": {
            "description": "paramètre id-station incorrect sémantiquement"
          },
          "401": {
            "description": "Invalid credential"
          },
          "404": {
            "description": "la station demandée n'existe pas"
          },
          "500": {
            "description": "problème du serveur d'application dans la construction de la réponse"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/commande-station/infrahoraire-6m": {
      "get": {
        "tags": [
          "Commandes"
        ],
        "summary": "commande la création du fichier TEXTE (CSV) des données climatologiques de précipitation, à la fréquence 6 minutes, pour une station, sur la profondeur de date demandée",
        "description": "renvoie le n° de commande dans le corps (structuré – JSON) de la réponse",
        "parameters": [
          {
            "name": "id-station",
            "in": "query",
            "description": "identifiant de la station (nomenclature : 8 chiffres selon DDCCCNNN = insee de la commune (DD département, CCC n° de la commune dans le département et NNN n° de la station dans la commune)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date-deb-periode",
            "in": "query",
            "description": "date de début de période pour la commande (au format ISO 8601 avec TZ UTC : AAAA-MM-JJThh:00:00Z)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date-fin-periode",
            "in": "query",
            "description": "date de fin de période pour la commande (au format ISO 8601 avec TZ UTC : AAAA-MM-JJThh:00:00Z)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "requête acceptée"
          },
          "400": {
            "description": "Contrôle de paramètres en erreur"
          },
          "401": {
            "description": "Invalid credential"
          },
          "404": {
            "description": "la station demandée n'existe pas"
          },
          "500": {
            "description": "erreur interne au serveur"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/commande-station/horaire": {
      "get": {
        "tags": [
          "Commandes"
        ],
        "summary": "commande la création du  fichier TEXTE (CSV) des données climatologiques pour tous les paramètres disponibles, à la fréquence horaire, pour une station, sur la profondeur de date demandée",
        "description": "renvoie le n° de commande dans le corps (structuré – JSON) de la réponse",
        "parameters": [
          {
            "name": "id-station",
            "in": "query",
            "description": "identifiant de la station (nomenclature : 8 chiffres selon DDCCCNNN = insee de la commune (DD département, CCC n° de la commune dans le département et NNN n° de la station dans la commune)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date-deb-periode",
            "in": "query",
            "description": "date de début de période pour la commande (au format ISO 8601 avec TZ UTC : AAAA-MM-JJThh:00:00Z)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date-fin-periode",
            "in": "query",
            "description": "date de fin de période pour la commande (au format ISO 8601 avec TZ UTC : AAAA-MM-JJThh:00:00Z)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "requête acceptée"
          },
          "400": {
            "description": "Contrôle de paramètres en erreur"
          },
          "401": {
            "description": "Invalid credential"
          },
          "404": {
            "description": "la station demandée n'existe pas"
          },
          "500": {
            "description": "erreur interne au serveur"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/commande-station/quotidienne": {
      "get": {
        "tags": [
          "Commandes"
        ],
        "summary": "commande la création du  fichier TEXTE (CSV) des données climatologiques pour tous les paramètres disponibles, à la fréquence quotidienne, pour une station, sur la profondeur de date demandée",
        "description": "renvoie le n° de commande dans le corps (structuré – JSON) de la réponse",
        "parameters": [
          {
            "name": "id-station",
            "in": "query",
            "description": "identifiant de la station (nomenclature : 8 chiffres selon DDCCCNNN = insee de la commune (DD département, CCC n° de la commune dans le département et NNN n° de la station dans la commune)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date-deb-periode",
            "in": "query",
            "description": "date de début de période pour la commande (au format ISO 8601 avec TZ UTC : AAAA-MM-JJThh:00:00Z)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date-fin-periode",
            "in": "query",
            "description": "date de fin de période pour la commande (au format ISO 8601 avec TZ UTC : AAAA-MM-JJThh:00:00Z)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "requête acceptée"
          },
          "400": {
            "description": "Contrôle de paramètres en erreur"
          },
          "401": {
            "description": "Invalid credential"
          },
          "404": {
            "description": "la station demandée n'existe pas"
          },
          "500": {
            "description": "erreur interne au serveur"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/commande/fichier": {
      "get": {
        "tags": [
          "Téléchargement"
        ],
        "summary": "récupère le fichier des données de la commande (si celui-ci est prêt) avec le n° fourni en retour de la commande",
        "description": "renvoie un fichier TEXTE CSV contenant les données issues de la commande, dans le flux de réponse",
        "parameters": [
          {
            "name": "id-cmde",
            "in": "query",
            "description": "identifiant de la commande de données, tel que renvoyé par une requête à l'une des ressources \"ProduitClim\"",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "fichier renvoyé"
          },
          "204": {
            "description": "production encore en attente ou en cours"
          },
          "401": {
            "description": "Invalid credential"
          },
          "404": {
            "description": "le numéro de commande n'existe pas"
          },
          "410": {
            "description": "production déjà livrée"
          },
          "500": {
            "description": "production terminée, échec"
          },
          "507": {
            "description": "production rejetée par le système (trop volumineuse)"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "default": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://public-api.meteofrance.fr/authorize",
            "scopes": {}
          }
        }
      }
    }
  }
}